<script>
  import { Card } from "@julianelda/domos";

  import Hyperlink from "$lib/components/hyperlink/hyperlink.svelte";
</script>

<svelte:head>
  <title>Julius Polar - Front-end developer</title>
  <meta
    content="Julius Polar's Homepage"
    name="description" />
  <meta
    content="Julius Polar - Front-end developer"
    property="og:title" />
  <meta
    content="Julius Polar's Homepage"
    property="og:description" />
</svelte:head>

<Card>

<div class="prose dark:prose-invert prose-headings:font-heading mx-auto text-xl">

# Julius Polar

I'm a front-end developer, tech-enthusiast, and gamer. I have
been working as a developer for over a decade, built many
web-applications with various technologies.

## Stuff I made

<p><Hyperlink href="https://meter.julianelda.io/">meter</Hyperlink><br />
Tools and converters.
Convert various units like time, weight, volume.
Generate password, guid, lorem ipsum etc.</p>

<p><Hyperlink href="https://kairos.julianelda.io/">kairos</Hyperlink><br />
Shows weather at your current location.</p>

<p><Hyperlink href="https://poker.julianelda.io/">Planning Poker</Hyperlink><br />
Online Scrum/Planning poker.</p>

<p><Hyperlink href="https://f4.julianelda.io/">f4</Hyperlink><br />
A theorycrafting tool for Final Fantasy XIV's Black Mage.
Compare specified rotation to standard rotation. For patch 6.x.</p>

<p><Hyperlink href="https://julianelda.io/">This page</Hyperlink><br />
My homepage.</p>

## Contact

You can contact me via <Hyperlink href="https://www.linkedin.com/in/julius-polar/">LinkedIn</Hyperlink>.
Check out my <Hyperlink href="https://github.com/JulianElda">GitHub</Hyperlink> too.

</div>

</Card>
