@import "tailwindcss";
@import "@julianelda/chroma";
@import "@julianelda/stilo";
@import "@julianelda/domos/tailwind";
@import "@julianelda/domos/background";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html {
    color-scheme: light;
  }
  html[data-theme="dark"] {
    color-scheme: dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }
}
