<script>
  import Hyperlink from "$lib/components/hyperlink/hyperlink.svelte";
</script>

<svelte:head>
  <title>Julius Polar - Projects</title>
  <meta
    content="Julius Polar - Projects"
    name="description" />
  <meta
    content="Julius Polar - Projects"
    property="og:title" />
  <meta
    content="Julius Polar - Projects"
    property="og:description" />
</svelte:head>

<div class="prose dark:prose-invert prose-headings:font-heading mx-auto text-xl">

<p><Hyperlink href="https://meter.julianelda.io/">meter</Hyperlink><br />
Tools and converters.
Convert various units like time, weight, volume.
Generate password, guid, lorem ipsum etc.</p>

<p><Hyperlink href="https://kairos.julianelda.io/">kairos</Hyperlink><br />
Shows weather at your current location.</p>

<p><Hyperlink href="https://poker.julianelda.io/">Planning Poker</Hyperlink><br />
Online Scrum/Planning poker.</p>

<p><Hyperlink href="https://f4.julianelda.io/">f4</Hyperlink><br />
A theorycrafting tool for Final Fantasy XIV's Black Mage.
Compare specified rotation to standard rotation. For patch 6.x.</p>

<p><Hyperlink href="https://julianelda.io/">This page</Hyperlink><br />
My homepage.</p>

</div>
