@import "tailwindcss";
@import "@julianelda/chroma";
@import "@julianelda/scratchpad";

@source "./../node_modules/@julianelda/scratchpad/dist";
@source "./../src/components/";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme inline {
  --font-*: initial;
  --font-sans: var(--font-heliotrope3);
  --font-serif: var(--font-heliotrope3);
  --font-heading: var(--font-heliotrope4);
}

body {
  --grid-color: 150;
  background-size: 1.75rem 1.75rem;
  background-image:
    linear-gradient(
      to right,
      rgba(var(--grid-color), var(--grid-color), var(--grid-color), 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(var(--grid-color), var(--grid-color), var(--grid-color), 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      to top,
      rgba(var(--grid-color), var(--grid-color), var(--grid-color), 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      to left,
      rgba(var(--grid-color), var(--grid-color), var(--grid-color), 0.03) 1px,
      transparent 1px
    );
}
